:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 757px;
  margin: 0 auto;
}

body {
  font-family: "Sintony", sans-serif;
  background-color: #830542;
}

.logo {
  width: 2.69rem;
  height: 3.19rem;
}

.page-heading {
  color: white;
  text-align: center;
  font-size: clamp(1.125rem, 0.9437rem + 1.1605vw, 1.5rem);
  font-weight: bold;
  margin-bottom: 18px;
  text-transform:uppercase;
}
.default-container {
  margin: 0 auto;
  padding: 0 0.75rem;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  font-size: 10px;
  right: 2em;
  padding: 0px 6px;
  background-color: #830542;
  color: gainsboro;
  white-space: nowrap;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

.img-and-country #btn {
  margin-left: auto;
  color: #830542;
}
.img-and-country #btn:hover {
  scale: 120%;
  font-weight: 700;
}

.group-heading-wrapper #btn {
  margin-left: auto;
  color: gainsboro;
}
.group-heading-wrapper #btn:hover {
  scale: 120%;
  font-weight: 700;
}

.matches-wrapper #btn{
  background-color: #830542;
  margin-left:auto;
}
.matches-wrapper #btn:hover {
  scale: 120%;
  font-weight: 700;
}


/* STYLES FOR lOGIN AND REGISTRATION PAGES */

.heading-and-form-wrapper {
  @apply w-full sm:w-2/3 mx-auto my-12 bg-white p-6 rounded-lg;
}

.heading-and-form-wrapper .heading {
  @apply text-gray-600 text-center py-4 font-bold text-3xl;
}

.heading-and-form-wrapper form {
  @apply flex flex-col mt-4;
}

.heading-and-form-wrapper input {
  @apply shadow appearance-none border border-gray-400 text-sm bg-gray-100 rounded w-full focus:bg-gray-200 focus-visible:outline-gray-300 focus:ring-0 mt-4 py-3 px-3 text-gray-700;
}

.heading-and-form-wrapper .text-wrapper {
  @apply flex flex-col items-center mt-5;
}
.heading-and-form-wrapper .text {
  @apply mt-1 text-xs font-light text-gray-500;
}
.heading-and-form-wrapper button {
  @apply mt-4 px-4 py-3 leading-6 text-base rounded-md border border-transparent text-white focus:outline-none text-blue-100 hover:text-white focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer inline-flex items-center w-full justify-center items-center font-medium focus:outline-none;
  background-color: #830542;
}
.heading-and-form-wrapper button:hover {
  background-color: #9b074e;
}
.heading-and-form-wrapper .link {
@apply ml-1 font-medium;
color: #830542;
}
.heading-and-form-wrapper .link:hover {
color: #9b074e;
}
